<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salas - AutoGlass</title>
    
    <link rel="stylesheet" href="/css/modais/modal_sala.css">
    <link rel="stylesheet" href="/css/salas.css">
    
    
</head>
<body>
    <div class="container">
        <header>
            <%- include('partials/nav') %>
        </header>

        <section>
            <div class="cabecario">
                <p id="titulo">Salas</p>
                <input  placeholder="Pesquisar sala">
            </div>
            <div class="cabecariosecundario">
                <input type="button" value="Adicionar Sala" class="btn_adicionar_professor" onclick="cadastrar()">
            </div>
            <div class="cabecarioatributos">
                <% areas.forEach(area => {%>
                    <div class="containerimagens">
                        <div class="icone">
                            <img src="../imagens/icone_editar.svg">
                            <img src="../imagens/icone_delet.svg">
                        </div>
                            <div class="nomesatributos">
                            <span class="titulo"><%- area.nome%></span>
                            <div class="editaricones">   
                                <img src="../imagens/icone_grupodepessoas.svg">
                                <span class="capacidade">
                                    <%- area.capacidade %> Lugares/ <%- area.sistemas%>
                                </span>  
                            </div>       
                        </div>
                    </div>
                <%})%>               
            </div>
            <%- include('partials/areas/modalCadastro')%>
        </section>
    </div>
   
</body>
<script src="/js/modal.js"></script>
</html>