<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/modais/modal_index.css">
</head>
<body>
    <header>
        <%- include('partials/nav') %>
    </header>

    <section class="conteudo">
        <div class="container-conteudo">
            <div class="cabecariosecundario">
                <div id="container-pesquisa-agenda">
                    <input type="button" value="Agendar Horário" class="btn_agenda_horario" id="inputagenda">
                    <div class="container-pesquisar">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="pesquisar-agenda" placeholder="Pesquisar">
                    </div>
                </div>
                <%- include('partials/index/formData')%>
            </div>       
                
            <div class="fundo">  
                <div id="full">
                    <p id="data"><%=data%></p>
                    <button><i class="fa fa-arrows-alt" aria-hidden="true" onclick="AtivarDesativarFS()"></i></button>
                </div>       
                <div class="turmas">
                    <div id="divisaoSalas">
                        <%salas.forEach(sala =>{%>
                        <div class="nomeSala"><%= sala.nome%></div>
                        <% }) %>
                    </div>
                    <div id="painelGeral">
                        <%salas.forEach(sala =>{%>
                            <div class="painelTurmas">
                                <%eventos.forEach(evento =>{%>
                                    <% if(evento.sala_id == sala.id){%>
                                        <div class="salas" id='<%= evento.id %>'>
                                            <div class="titulo-evento" style="background-color:<%= evento.cor%>"><%= evento.titulo_evento%></div><br>
                                            <% if(evento.titulo_evento == 'Evento'){%>
                                                <p class="callcenter" id="evento"><%= evento.dsc_evento%></p>                             
                                                <p>Max. Pessoas: <%= evento.qtd_pessoas%></p>
                                            <%}else{%>
                                                <p class="callcenter" id="aula"><%= evento.disciplina%></p>                             
                                                <p>Total Alunos: <%= evento.qtd_pessoas%></p>
                                            <%}%>
                                            <p id="horario"><%= evento.horario_inicio%>h - <%= evento.horario_fim%>h</p><br>
                                            <div class="imgprofessor">
                                                <img src="/imagens/user.png" class="imagem">
                                                <p><%= evento.professor%></p>
                                            </div>
                                            <div class="icone">
                                                <a class="edita" href="">
                                                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                                                </a>
                                                <a class="remove" href="">
                                                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    <%}%>
                                <%})%>
                            </div>
                        <% }) %>
                        
                    </div>   
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/index/modalCadastro')%>
</body>
<%- include('partials/scripts')%>
<script src="/js/index/modalReserva.js"></script>
<script src="/js/index/indexFullScreem.js"></script>
<script src="/js/index/adicionarEvento.js"></script>
<script src="/js/index/editaEvento.js"></script>
<script src="/js/index/jsValidarCheckBox.js"></script>
</body>
</html>