<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/salas.css">
    <link rel="stylesheet" href="/css/modais/modal_sala.css">
</head>
<body>
        <header>
            <%- include('partials/nav') %>
        </header>
        <section class="conteudo">
            <div class="container-conteudo">
                <div class="cabecariosecundario">
                    <div id="container-pesquisa-sala">
                        <input type="button" value="Adicionar sala" class="btn_adicionar_sala" id="inputsala">
                        <div class="container-pesquisar">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input class="pesquisar-sala" placeholder="Pesquisar">
                        </div>
                    </div>
                </div>
                <div class="cabecarioatributos">
                    <% areas.forEach(area => {%>
                        <div class="containerimagens">
                            <div class="icone">
                                <a id="edita" href="">
                                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-danger" href="">
                                    <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                </a>
                            </div>
                                <div class="nomesatributos">
                                <span class="titulo"><%- area.nome%></span>
                                <div class="editaricones">   
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span class="capacidade">
                                        <%- area.capacidade %> Lugares/ <%- area.sistemas%>
                                    </span>  
                                </div>       
                            </div>
                        </div>
                    <%})%>               
                </div>
            </div>
        </section>
        <%- include('partials/areas/modalCadastro')%>
   
</body>
<script src="/js/sala/modalSala.js"></script>
</html>